<div class="p-8">
    <h1 class="text-2xl font-bold mb-4">Liste des utilisateurs</h1>


    <div class="mb-4">
  <label for="search" class="block font-medium">Rechercher par nom :</label>
  <input 
    id="search" 
    type="text" 
    (input)="onSearch($event)" 
    placeholder="Tapez un nom..."
    class="w-full border p-2 rounded mt-1"
  >
</div>

<table class="w-full text-left">
    <thead class="bg-gray-100 border-b">
        <tr>

            <th class="p-4">Nom</th>
            <th class="p-4">Email</th>
            <th class="p-4">Rôle</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let user of displayedUsers" class="border-b hover:bg-gray-50">

            <td class="p-4">{{ user.name}}</td>
            <td class="p-4">{{ user.email}}</td>
            <td class="p-4">{{ user.role}}</td>
        </tr>

    </tbody>
</table>

<div class="flex justify-between mt-4">
  
  <button (click)="toggleAddForm()">
    Ajouter un utilisateur
  </button>
  
  <button (click)="delUser()">
    Supprimer un utilisateur
  </button>
</div>

<div *ngIf="showAddForm" class="mt-4 p-4 border rounded bg-gray-50">
  
  <app-user-form></app-user-form>

</div>


</div>